.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.control{
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.select{
  display: inline-block;
  height: 2.25em;
  position: relative;
  vertical-align: top;
}
.select select{
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  height: 2.25em;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: none;
    font-size: 1rem;
    line-height: 1.5;
    padding-bottom: calc(.375em - 1px);
    padding-left: calc(.625em - 1px);
    padding-right: calc(.625em - 1px);
    padding-top: calc(.375em - 1px);
    position: relative;
    background-color: #fff;
    border-color: #dbdbdb;
    color: #363636;
    cursor: pointer;
    display: block;
    font-size: 1em;
    outline: 0;
    padding-right: 2.5em;
}
.checkbox{
  cursor: pointer;
    display: inline-block;
    line-height: 1.25;
    position: relative;
}
